html, body {
    font-family: Archivo;
    user-select: none;
    zoom: 1.7;
    overflow: hidden;
}

body::after {
    content: '';
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 200px rgba(0,0,0,0.9) inset;
    z-index: 0;
    pointer-events: none;
}

*:focus {
    -webkit-tap-highlight-color: transparent;
    outline: none;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}

#game-title {
    color: white;
    font-family: Archivo;
    text-align: right;
    margin-top: 20px;
    margin-right: 20px;
    font-size: 25;
    z-index: 10;
}
#game-description {
    color: rgb(189, 189, 189);
    font-family: Archivo;
    text-align: right;
    margin-top: -20px;
    margin-right: 20px;
    font-size: 10;
    z-index: 10;
}

.button[enabled] {
    color: #ffa800;
    cursor: pointer;
}

.button[white] {
    color: #dddddd;
    cursor: pointer;
}

.button {
    color: gray;
    padding: 1px;
    font-size: 15;
    animation: moveIn .75s cubic-bezier(0.770, 0.000, 0.175, 1.000) both;
    cursor: not-allowed;
}

.option[enabled] {
    color: #ffa800;
    cursor: pointer;
}

.option[white] {
    color: #dddddd;
    cursor: pointer;
}

.option {
    color: gray;
    padding: 10px;
    font-size: 15;
    margin-top: -15;
}

.option:hover {
    cursor: pointer;
}

.option:active[enabled] {
    filter: brightness(.8);
}

#buttons {
    width: 100px;
    text-align: right;
    margin-left: auto;
    margin-right: 20px;
    margin-top: 50px;
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: calc(100% - 100px);
    scrollbar-width: none;
}

#levels {
    width: calc(100% - 20px);
    max-height: calc(100% - 100px);
    border-radius: 5px;
    background-color: rgba(21, 21, 35, 0.50);
    backdrop-filter: blur(1px);
    overflow-y: scroll !important;
    position: absolute;
    scrollbar-width: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.serverList {
    flex-direction: column;
    flex-wrap: wrap;
}

.level {
    padding: 0px;
    background-color: rgb(21, 21, 35);
    outline-style: solid;
    outline-width: 4px;
    outline-color: rgb(21, 21, 35);
    border-radius: 4px;
    width: 20px;
    height: 20px;
    margin: 8px;
    cursor: pointer;
    font-size:8px;
    color: rgb(237, 237, 237);
    text-align: center;
    background-image: url("../assets/textures/levelcat.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

none:focus {
    outline-style: dotted;
    outline-width: 2px;
    outline-color: gray;
}

.button:active[enabled] {
    filter: brightness(.8);
}

#credits {
    font-size: 5px;
    color: white;
    position: absolute;
    bottom: 0;
}

.option[on="false"] {
    color: rgb(94, 94, 94)
}

.option[on="true"] {
    color: rgb(9, 255, 0)
}

#notice {
    background-color: rgb(112, 59, 59);
    border-color: rgb(147, 45, 45);
    border-width: .5px;
    border-style: solid;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 5px;
    border-radius: 3px;
    position: fixed;
    top: 0;
    margin-left: auto;
    margin-right: auto;
    font-size: 5px;
    left: 50%;
    transform: translateX(-50%);
}

@font-face {
    font-family: Archivo;
    src: url('../assets/fonts/archivo.ttf');
}

#startAudio {
    background-color: rgba(128, 128, 128, 0.272);
    background-color: #151523;
    position: fixed;
    left: 0;
    top:0;
    z-index: 9999;
    width: 100%;
    height: 100%;
    text-align: center;
    cursor: pointer;
    color: white;
}

#startAudio.p {
    left: 50%;
    top: 50%;
    transform: translateX(50%);
    transform: translateY(-50%);
}

a {
    color: white;
}

a:visited {
    color: white;
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes moveIn {
    from {
        transform: translateX(130%);
    }
    to {
        transform: translateX(0);

    }
}

@keyframes moveBack {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(130%);
    }
}

.settingBg {
    background-image: url("../assets/textures/tilesetting.svg");
}

.gearBg {
    background-image: url("../assets/textures/tilegear.svg");
}

.mainBg {
    background-image: url("../assets/textures/tile.svg");
}

.playBg {
    background-image: url("../assets/textures/tileplay.svg");
}

.mpBg {
    background-image: url("../assets/textures/tilemp.svg");
}

#customOptions {
    display: flex;
    position: absolute;
    gap: 10px;
    bottom: 0;
    margin-bottom: 20px;
    cursor: pointer;
    color: white;
    width: 100%;
    justify-content: center;
}

.serverItem {
    width: 50%;
    left:25%;
    transform: translateX(50%);
    cursor: pointer;
    height: 50px;
    color: white;
    padding: -5px;
    margin: 5px;
}

.serverItem[selected] {
    background-color: #151523;
    outline-style: solid;
    outline-color: white;
    outline-width: .5px;
    color: #ffa800;
    height: 60px;

}

.serverName {
    font-size: 10px;
    margin-left: 10px;
    transition: .1s;
}

.serverDesc {
    color: gray;
    font-size: 8px;
    margin-top: -10px;
    margin-left: 10px;
}

.serverAddress {
    color: rgb(78, 78, 78);
    font-size: 8px;
    margin-top: -10px;
    margin-left: 10px;
}

.serverDesc[selected] {
    color: rgb(255, 255, 255);

}

.badge {
    background-color: #d28c00;
    padding: 4px;
    color: white;
    border-radius: 3px;
    width: fit-content;
    font-size: 5px;
    position: absolute;
    margin: 5px;
    right: 20px;
}

.serverStatus {
    width: 10px;
    height: 10px;
    border-radius: 100px;
    position: absolute;
    right: 0;
    top: 0;
    margin-bottom: auto;
    margin: 10px;
}

#serverOptions {
    width: 100%;
    display: flex;
    flex-direction: row;
    height: auto;
    padding-left: 10px;
}

.serverOption {
    width: fit-content;
    height: 100%;
    padding: 3px;
    background-color: #151523;
    color: white;
    font-size: 7.5px;
    margin: 5px;
    margin-left: 2px;
    margin-top: 0;
}

.serverOption:hover {
    background-color: #3f3f77;
}
 
.serverStatus[online="true"] {
    background-color: rgb(29, 221, 33);
}

.serverStatus[online="false"] {
    background-color: rgb(121, 121, 121);
}

.serverStatus[online="offline"] {

    background-color: rgb(158, 23, 23);
}

#background {
    border-image-repeat: repeat;
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(-29px, -29px);
    width: calc(100% + 29px);
    height: calc(100% + 29px);
    z-index: -1;
    animation: animateBackground 5s linear infinite;
}

@keyframes animateBackground {
    from {
        left: 0;
        top: 29px;
    }
    to {
        left: 29px;
        top: 0;
    }
}

